html {
  font-size: 18px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  padding-top: 5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(110, 110, 110);
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin-top: -5.5rem;
  background-color: rgba(207, 207, 205, 0.795);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(255, 208, 0, 0.932);
  z-index: 10;
}

.header_txt {
  background-color: rgba(255, 208, 0, 0.932);
  width: 10rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  border-radius: 0.5rem;
}

.number {
  padding-top: 0.2rem;
}

.block_number {
  background-color: rgba(255, 208, 0, 0.932);
  border-radius: 0.5rem;
  width: 10rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  align-items: center;
}
.menu {
  list-style-type: none;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  width: 50rem;
  align-items: center;
  text-align: center;
}

.txt_1 {
  font-size: 36px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.txt_2 {
  font-size: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block_3 {
  justify-content: space-around;
  text-align: center;
  display: flex;
  height: 10rem;
}

.block_3_li {
  display: inline-block;
}

.info li {
  padding: 0.5rem;
}

.button_block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.button_centre {
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 24px;
  padding: 1rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(255, 208, 0, 0.932);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(207, 207, 205, 0.795);
  border-style: none;
}

.button_centre:hover {
  background-color: rgba(131, 207, 59);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(255, 208, 0, 0.932);
}

.button_left {
  position: absolute;
  margin-right: 40rem;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
}

.button_right {
  position: absolute;
  margin-left: 40rem;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
}

.button_right_img:hover,
.button_left_img:hover {
  width: 4rem;
  height: 4rem;
  text-align: center;
}

.autoplay,
.autoplay_2,
.autoplay_3,
.autoplay_4,
.autoplay_5 {
  display: flex;
  width: 90%;
  margin-left: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  margin-top: -11rem;
}

.slider_block {
  justify-content: center;
  text-align: center;
  margin: 5rem;
}

.slider_img {
  align-items: center;
  justify-content: center;
  width: 22em;
  padding: 0.7rem;
  height: 18rem;
  border-radius: 5%;
}

.prioritet-block_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -2rem;
  margin-left: 3rem;
}

.prioritet-block_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2rem;
  margin-right: 3rem;
}

.prioritet_photo {
  width: 10rem;
}

.prioritet {
  width: 80%;
}

.arrow_block {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin-left: 2%;
  margin-top: 11rem;
  z-index: 2;
  opacity: inherit;
}

.arrow_block:hover {
  opacity: 50%;
}

.pvh_block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pvh_text_mini {
  width: 25rem;
  height: 4rem;
  margin: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(131, 207, 59);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(255, 208, 0, 0.932);
}

.pvh_text {
  width: 45rem;
  height: 4rem;
  margin: 1rem;
  font-size: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 15rem;
  background-color: rgba(131, 207, 59);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(255, 208, 0, 0.932);
}

footer {
  background-color: rgba(207, 207, 205, 0.795);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(255, 208, 0, 0.932);
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button_block_mini {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  align-items: flex-end;
  width: 98%;
  justify-content: flex-end;
  height: 15%;
}
